/* **********************************************************************************************************************
 _______  _______  _______        _______ _________          _______ _________ ______
(  ____ \(  ___  )(  ____ )      (  ____ \\__   __/|\     /|(  ____ )\__   __/(  __  \
| (    \/| (   ) || (    )|      | (    \/   ) (   | )   ( || (    )|   ) (   | (  \  )
| (__    | |   | || (____)|      | (_____    | |   | |   | || (____)|   | |   | |   ) |
|  __)   | |   | ||     __)      (_____  )   | |   | |   | ||  _____)   | |   | |   | |
| (      | |   | || (\ (               ) |   | |   | |   | || (         | |   | |   ) |
| )      | (___) || ) \ \__      /\____) |   | |   | (___) || )      ___) (___| (__/  )
|/       (_______)|/   \__/      \_______)   )_(   (_______)|/       \_______/(______/

 _______  _        ______         ______   _______  _______ _________ _               ______   _______  _______  ______
(  ___  )( (    /|(  __  \       (  ___ \ (  ____ )(  ___  )\__   __/( (    /|       (  __  \ (  ____ \(  ___  )(  __  \
| (   ) ||  \  ( || (  \  )      | (   ) )| (    )|| (   ) |   ) (   |  \  ( |       | (  \  )| (    \/| (   ) || (  \  )
| (___) ||   \ | || |   ) |      | (__/ / | (____)|| (___) |   | |   |   \ | | _____ | |   ) || (__    | (___) || |   ) |
|  ___  || (\ \) || |   | |      |  __ (  |     __)|  ___  |   | |   | (\ \) |(_____)| |   | ||  __)   |  ___  || |   | |
| (   ) || | \   || |   ) |      | (  \ \ | (\ (   | (   ) |   | |   | | \   |       | |   ) || (      | (   ) || |   ) |
| )   ( || )  \  || (__/  )      | )___) )| ) \ \__| )   ( |___) (___| )  \  |       | (__/  )| (____/\| )   ( || (__/  )
|/     \||/    )_)(______/       |/ \___/ |/   \__/|/     \|\_______/|/    )_)       (______/ (_______/|/     \|(______/

 _       _________ _       _________ _______  _______  _______                            _
( \      \__   __/( (    /|\__   __/(  ____ \(  ____ )(  ____ \                          / )
| (         ) (   |  \  ( |   ) (   | (    \/| (    )|| (    \/                _        / /
| |         | |   |   \ | |   | |   | (__    | (____)|| (_____                (_)_____ ( (
| |         | |   | (\ \) |   | |   |  __)   |     __)(_____  )                 (_____)| |
| |         | |   | | \   |   | |   | (      | (\ (         ) |                _       ( (
| (____/\___) (___| )  \  |   | |   | (____/\| ) \ \__/\____) | _  _  _       (_)       \ \
(_______/\_______/|/    )_)   )_(   (_______/|/   \__/\_______)(_)(_)(_)                 \_)

************************************************************************************************************************/

/* ******* *
 *         *
 * CSS IDs *
 *         *
 * ******* */

#section_1 {
  background-image: url("../@images/section-1_background.jpeg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 588px;
  padding-left: 40px;
  padding-right: 40px;
}

#section_2 {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 588px;
  padding-left: 40px;
  padding-right: 40px;
}

#about-myself-layout {
  padding: 0 24px;
  border-top-right-radius: 80px;
  background: white;
  gap: 24px;
}

#about-myself-inner-layout {
  min-width: 327px;
}

#about-myself {
  padding: 114px 24px 114px 24px;
  align-items: center;
  gap: 88px;
  background: whitesmoke;
}

#contact-me-section {
  background-image: url("../@images/contact-me_background.svg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}

#contact-me {
  padding: 0 40px;
  padding-bottom: 8px;
}

#work-cards-section {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--separator-height);
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  background: whitesmoke;
}

#work_card_1 {
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

#work_card_2 {
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

#work_card_3 {
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

#work_card_4 {
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

#social_logo_1a {
  width: 18px;
  height: 20px;
  flex-shrink: 0;
}

#social_logo_2a {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

#social_logo_3a {
  width: 24px;
  height: 24px;
}

#social_logo_4a {
  width: 20px;
  height: 19.967px;
  flex-shrink: 0;
}

#social_logo_5a {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

#languages {
  min-width: 237px;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#frameworks {
  min-width: 237px;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#skills {
  min-width: 237px;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#form-name {
  background-color: white;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Show red borders when filled, but invalid */
#form-name:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);
  background-color: white;
}

#form-name:invalid {
  background-color: pink;
  color: white;
}

#form-name:placeholder-shown {
  background-color: white;
}

#form-name:valid {
  background-color: white;
}

#form-email {
  background-color: white;
}

/* Show red borders when filled, but invalid */
#form-email:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);
  background-color: white;
}

#form-email:invalid {
  background-color: pink;
  color: white;
}

#form-email:placeholder-shown {
  background-color: white;
}

#form-email:valid {
  background-color: white;
}

#form-text-message {
  background-color: white;
}

/* Show red borders when filled, but invalid */
#form-text-message:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);
  background-color: white;
}

#form-text-message:invalid {
  background-color: pink;
  color: white;
}

#form-text-message:placeholder-shown {
  background-color: white;
}

#form-text-message:valid {
  background-color: white;
  color: black;
  font-size: 17px;
}

#footer-main {
  background-color: #6070ff;
  padding-bottom: 8px;
}

#bottom-bar {
  color: #0d151e;
  margin: 21px auto 0 auto;
}
