/* **********************************************************************************************************************
 _______  _______  _______        _______ _________          _______ _________ ______
(  ____ \(  ___  )(  ____ )      (  ____ \\__   __/|\     /|(  ____ )\__   __/(  __  \
| (    \/| (   ) || (    )|      | (    \/   ) (   | )   ( || (    )|   ) (   | (  \  )
| (__    | |   | || (____)|      | (_____    | |   | |   | || (____)|   | |   | |   ) |
|  __)   | |   | ||     __)      (_____  )   | |   | |   | ||  _____)   | |   | |   | |
| (      | |   | || (\ (               ) |   | |   | |   | || (         | |   | |   ) |
| )      | (___) || ) \ \__      /\____) |   | |   | (___) || )      ___) (___| (__/  )
|/       (_______)|/   \__/      \_______)   )_(   (_______)|/       \_______/(______/

 _______  _        ______         ______   _______  _______ _________ _               ______   _______  _______  ______
(  ___  )( (    /|(  __  \       (  ___ \ (  ____ )(  ___  )\__   __/( (    /|       (  __  \ (  ____ \(  ___  )(  __  \
| (   ) ||  \  ( || (  \  )      | (   ) )| (    )|| (   ) |   ) (   |  \  ( |       | (  \  )| (    \/| (   ) || (  \  )
| (___) ||   \ | || |   ) |      | (__/ / | (____)|| (___) |   | |   |   \ | | _____ | |   ) || (__    | (___) || |   ) |
|  ___  || (\ \) || |   | |      |  __ (  |     __)|  ___  |   | |   | (\ \) |(_____)| |   | ||  __)   |  ___  || |   | |
| (   ) || | \   || |   ) |      | (  \ \ | (\ (   | (   ) |   | |   | | \   |       | |   ) || (      | (   ) || |   ) |
| )   ( || )  \  || (__/  )      | )___) )| ) \ \__| )   ( |___) (___| )  \  |       | (__/  )| (____/\| )   ( || (__/  )
|/     \||/    )_)(______/       |/ \___/ |/   \__/|/     \|\_______/|/    )_)       (______/ (_______/|/     \|(______/

 _       _________ _       _________ _______  _______  _______                            _
( \      \__   __/( (    /|\__   __/(  ____ \(  ____ )(  ____ \                          / )
| (         ) (   |  \  ( |   ) (   | (    \/| (    )|| (    \/                _        / /
| |         | |   |   \ | |   | |   | (__    | (____)|| (_____                (_)_____ ( (
| |         | |   | (\ \) |   | |   |  __)   |     __)(_____  )                 (_____)| |
| |         | |   | | \   |   | |   | (      | (\ (         ) |                _       ( (
| (____/\___) (___| )  \  |   | |   | (____/\| ) \ \__/\____) | _  _  _       (_)       \ \
(_______/\_______/|/    )_)   )_(   (_______/|/   \__/\_______)(_)(_)(_)                 \_)

************************************************************************************************************************/

/* ********************** *
 * CSS Framework Elements *
 * ---------------------- *
 * AJFFG -- (c) 2023      *
 * ********************** */

/* ******************** *
 * CSS Flex BOX classes *
 * ******************** */

/* Display modes */

 .flex-box {
  display: flex;
}

.flex-box-inline {
  display: inline-flex;
}

.flex-box-center {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

/* FLEX classes */

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-wrap-inherit {
  flex-wrap: inherit;
}

.flex-wrap-initial {
  flex-wrap: initial;
}

.flex-wrap-revert {
  flex-wrap: initial;
}

.flex-wrap-unset {
  flex-wrap: unset;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}
