/* **********************************************************************************************************************
 _______  _______  _______        _______ _________          _______ _________ ______
(  ____ \(  ___  )(  ____ )      (  ____ \\__   __/|\     /|(  ____ )\__   __/(  __  \
| (    \/| (   ) || (    )|      | (    \/   ) (   | )   ( || (    )|   ) (   | (  \  )
| (__    | |   | || (____)|      | (_____    | |   | |   | || (____)|   | |   | |   ) |
|  __)   | |   | ||     __)      (_____  )   | |   | |   | ||  _____)   | |   | |   | |
| (      | |   | || (\ (               ) |   | |   | |   | || (         | |   | |   ) |
| )      | (___) || ) \ \__      /\____) |   | |   | (___) || )      ___) (___| (__/  )
|/       (_______)|/   \__/      \_______)   )_(   (_______)|/       \_______/(______/

 _______  _        ______         ______   _______  _______ _________ _               ______   _______  _______  ______
(  ___  )( (    /|(  __  \       (  ___ \ (  ____ )(  ___  )\__   __/( (    /|       (  __  \ (  ____ \(  ___  )(  __  \
| (   ) ||  \  ( || (  \  )      | (   ) )| (    )|| (   ) |   ) (   |  \  ( |       | (  \  )| (    \/| (   ) || (  \  )
| (___) ||   \ | || |   ) |      | (__/ / | (____)|| (___) |   | |   |   \ | | _____ | |   ) || (__    | (___) || |   ) |
|  ___  || (\ \) || |   | |      |  __ (  |     __)|  ___  |   | |   | (\ \) |(_____)| |   | ||  __)   |  ___  || |   | |
| (   ) || | \   || |   ) |      | (  \ \ | (\ (   | (   ) |   | |   | | \   |       | |   ) || (      | (   ) || |   ) |
| )   ( || )  \  || (__/  )      | )___) )| ) \ \__| )   ( |___) (___| )  \  |       | (__/  )| (____/\| )   ( || (__/  )
|/     \||/    )_)(______/       |/ \___/ |/   \__/|/     \|\_______/|/    )_)       (______/ (_______/|/     \|(______/

 _       _________ _       _________ _______  _______  _______                            _
( \      \__   __/( (    /|\__   __/(  ____ \(  ____ )(  ____ \                          / )
| (         ) (   |  \  ( |   ) (   | (    \/| (    )|| (    \/                _        / /
| |         | |   |   \ | |   | |   | (__    | (____)|| (_____                (_)_____ ( (
| |         | |   | (\ \) |   | |   |  __)   |     __)(_____  )                 (_____)| |
| |         | |   | | \   |   | |   | (      | (\ (         ) |                _       ( (
| (____/\___) (___| )  \  |   | |   | (____/\| ) \ \__/\____) | _  _  _       (_)       \ \
(_______/\_______/|/    )_)   )_(   (_______/|/   \__/\_______)(_)(_)(_)                 \_)

************************************************************************************************************************/

/* ******************************** *
 * ROOT element                     *
 * ------------                     *
 * CSS Global variables declaration *
 * ******************************** */

:root {
  /* Global page values */

  /* Separator values */
  --separator-width: var(--global-page-width);
  --separator-height: 114px;

  /* Section 1 */

  /* Section 2 */

  /* Workcard */
  --workcard-padding-left: 24px;
  --workcard-padding-right: 24px;

  /* Workcard image */
  --works-img-height: 295px;
  --works-img-width: 220px;

  /* WORKS section */
  --works-section-width: 375px;
  --works-section-height: 588px;
  --works-section-padding-left: 24px;
  --works-section-padding-right: 24px;
}

