/* **********************************************************************************************************************
 _______  _______  _______        _______ _________          _______ _________ ______
(  ____ \(  ___  )(  ____ )      (  ____ \\__   __/|\     /|(  ____ )\__   __/(  __  \
| (    \/| (   ) || (    )|      | (    \/   ) (   | )   ( || (    )|   ) (   | (  \  )
| (__    | |   | || (____)|      | (_____    | |   | |   | || (____)|   | |   | |   ) |
|  __)   | |   | ||     __)      (_____  )   | |   | |   | ||  _____)   | |   | |   | |
| (      | |   | || (\ (               ) |   | |   | |   | || (         | |   | |   ) |
| )      | (___) || ) \ \__      /\____) |   | |   | (___) || )      ___) (___| (__/  )
|/       (_______)|/   \__/      \_______)   )_(   (_______)|/       \_______/(______/

 _______  _        ______         ______   _______  _______ _________ _               ______   _______  _______  ______
(  ___  )( (    /|(  __  \       (  ___ \ (  ____ )(  ___  )\__   __/( (    /|       (  __  \ (  ____ \(  ___  )(  __  \
| (   ) ||  \  ( || (  \  )      | (   ) )| (    )|| (   ) |   ) (   |  \  ( |       | (  \  )| (    \/| (   ) || (  \  )
| (___) ||   \ | || |   ) |      | (__/ / | (____)|| (___) |   | |   |   \ | | _____ | |   ) || (__    | (___) || |   ) |
|  ___  || (\ \) || |   | |      |  __ (  |     __)|  ___  |   | |   | (\ \) |(_____)| |   | ||  __)   |  ___  || |   | |
| (   ) || | \   || |   ) |      | (  \ \ | (\ (   | (   ) |   | |   | | \   |       | |   ) || (      | (   ) || |   ) |
| )   ( || )  \  || (__/  )      | )___) )| ) \ \__| )   ( |___) (___| )  \  |       | (__/  )| (____/\| )   ( || (__/  )
|/     \||/    )_)(______/       |/ \___/ |/   \__/|/     \|\_______/|/    )_)       (______/ (_______/|/     \|(______/

 _       _________ _       _________ _______  _______  _______                            _
( \      \__   __/( (    /|\__   __/(  ____ \(  ____ )(  ____ \                          / )
| (         ) (   |  \  ( |   ) (   | (    \/| (    )|| (    \/                _        / /
| |         | |   |   \ | |   | |   | (__    | (____)|| (_____                (_)_____ ( (
| |         | |   | (\ \) |   | |   |  __)   |     __)(_____  )                 (_____)| |
| |         | |   | | \   |   | |   | (      | (\ (         ) |                _       ( (
| (____/\___) (___| )  \  |   | |   | (____/\| ) \ \__/\____) | _  _  _       (_)       \ \
(_______/\_______/|/    )_)   )_(   (_______/|/   \__/\_______)(_)(_)(_)                 \_)

************************************************************************************************************************/

/* *************** *
 * Basic HTML tags *
 * *************** */

html {
  background: white;
}

html:lang(for-stupid-linters) {
  display: none;
}

title {
  color: blue;
  background-color: #00f;	/* #0000ff */
}

body {
  color: blue;
  background-color: #fff;	/* #ffffff */
  margin: 0;
  padding: 0;
}

h1 {
  color: inherit;
  background-color: inherit;
}

h2 {
  color: inherit;
  background-color: inherit;
}

h3 {
  color: inherit;
  background-color: inherit;
}

h4 {
  color: inherit;
  background-color: inherit;
}

p {
  color: inherit;
  background-color: inherit;
}

ul {
  color: inherit;
  background-color: inherit;
}

li {
  color: inherit;
  background-color: inherit;
}

/* ******************* *
 * CSS Media Selectors *
 * ******************* */

@media (min-width: 375px) and (max-width: 768px) {
  header {
    left: 0;
    right: 0;
  }
}

@media (min-width: 769px) {
  header {
    box-sizing: border-box;
    left: 0;
    width: 768px;
  }

  body {
    width: 768px;
  }
}

/* ******************** *
 * Semantic HTML 5 tags *
 * ******************** */

header {
  color: inherit;
  background-color: inherit;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
}

nav {
  color: inherit;
  background-color: inherit;
}

/* ********************* *
 * Compund CSS Selectors *
 * ********************* */

nav > ul {
  padding: 0;
}

nav > ul > li {
  color: inherit;
  background-color: inherit;
  list-style: none;
  padding-left: 3em;
  padding-right: 3em;
}

div.main-body {
  min-height: 100vh;
}

#section_1 > div > ul {
  padding-inline-start: 0;
  column-gap: 15px;
  margin: 0;
}

#section_1 > div > ul > li {
  row-gap: 15px;
}

/* ***************
 *  CSS Classes *
** **************/

.w-375px {
  width: 375px;
}

.h-750px {
  height: 750px;
}

.flex-box {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.flex-box-center {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.grid-box {
  display: grid;
}

.block-box {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.invisible {
  display: none;
}

/* FLEX classes */

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

/* END of FLEX classes */

/* CSS GRID classes */

/* END of CSS GRID classes */

.no-bullet {
  list-style: none;
}

.logo {
  padding: 10px;
}

.nav-bar {
  /* justify-content: flex-end; */
}

.main-body {
  min-height: 50vh;
}

.separator {
  width: 375px;
  height: 114px;
  padding-left: 40px;
  padding-right: 40px;
}

.main-title-style {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.main-title-color {
  color: #172b4d;
}

.main-text-style {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main-text-color {
  color: #344563;
}

.lc-button-text-style {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.lc-button-text-color {
  color: #7f8cff;
}

/* ******* *
 * CSS IDs *
 * ******* */

#section_1 {
  background-image: url("../@images/section-1_background.jpeg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 588px;
  padding-left: 40px;
  padding-right: 40px;
}

#section_2 {
  background-image: url("../@images/section-2_background.jpeg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 588px;
  padding-left: 40px;
  padding-right: 40px;
}

#work-cards-section {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--separator-height);
}

#work_card_1 {
  width: var(--workcard-width);
  height: var(--workcard-height);
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

#work_card_2 {
  width: var(--workcard-width);
  height: var(--workcard-height);
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

#work_card_3 {
  width: var(--workcard-width);
  height: var(--workcard-height);
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

#work_card_4 {
  width: var(--workcard-width);
  height: var(--workcard-height);
  padding-left: var(--workcard-padding-left);
  padding-right: var(--workcard-padding-right);
}

